{% extends 'base.html.twig' %}

{% block title %}Welcome to Bayar{% endblock %}

{% block body %}
<div class="container" style="margin-top: 50px; text-align: center;">
    <h1>Welcome to Bayar</h1>
    <p>This is your new Symfony application with a beautiful login/signup form.</p>
    <p>Click on the "Login/Signup" link in the navigation bar to try out the form.</p>
</div>
{% endblock %} 