{% extends 'base.html.twig' %}

{% block title %}Data Deletion Request{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-0">Data Deletion Request</h1>
                    </div>
                    <div class="card-body">
                        <p>If you want to delete your data from Nova Travel, please follow these steps:</p>
                        
                        <ol>
                            <li>Send an email to <a href="mailto:bayaraziz2001@gmail.com">bayaraziz2001@gmail.com</a> with the subject "Data Deletion Request"</li>
                            <li>Include your Facebook ID or the email address you used to sign up</li>
                            <li>We will process your request within 7 business days</li>
                            <li>You will receive a confirmation email once your data has been deleted</li>
                        </ol>

                        <div class="alert alert-info mt-4">
                            <h4 class="alert-heading">Note</h4>
                            <p>This process will delete all your data from our system, including:</p>
                            <ul>
                                <li>Your account information</li>
                                <li>Your profile data</li>
                                <li>Any bookings or reservations</li>
                                <li>All associated personal information</li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <p>Confirmation Code: <strong>123456789</strong></p>
                            <p>This code can be used to verify the status of your deletion request.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 