{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Privacy Policy</h1>
        
        <section class="mt-4">
            <h2>Information We Collect</h2>
            <p>When you use Facebook to log in to our application, we collect:</p>
            <ul>
                <li>Your Facebook public profile information</li>
                <li>Your email address</li>
                <li>Your name</li>
            </ul>
        </section>

        <section class="mt-4">
            <h2>How We Use Your Information</h2>
            <p>We use the information we collect to:</p>
            <ul>
                <li>Create and manage your account</li>
                <li>Provide you with our services</li>
                <li>Communicate with you about our services</li>
            </ul>
        </section>

        <section class="mt-4" id="data-deletion">
            <h2>Data Deletion Instructions</h2>
            <p>If you wish to delete your account and associated data, you can do so in two ways:</p>
            <ol>
                <li>
                    <strong>Through the Application:</strong>
                    <ul>
                        <li>Log in to your account</li>
                        <li>Go to your profile settings</li>
                        <li>Click on "Delete Account"</li>
                        <li>Confirm the deletion</li>
                    </ul>
                </li>
                <li>
                    <strong>By Contacting Us:</strong>
                    <ul>
                        <li>Send an email to bayaraziz2001@gmail.com</li>
                        <li>Include "Account Deletion Request" in the subject line</li>
                        <li>Provide your account email address</li>
                        <li>We will process your request within 7 business days</li>
                    </ul>
                </li>
            </ol>
            <p>Upon receiving your deletion request, we will:</p>
            <ul>
                <li>Delete your account and all associated data</li>
                <li>Remove your information from our databases</li>
                <li>Send you a confirmation email once the deletion is complete</li>
            </ul>
        </section>
    </div>
{% endblock %} 